#favorite{
    position: absolute;
    left: 30%;
    bottom: 20px;
    margin: auto;
    display: none;

    z-index: 100;
}

#not_favorite{
    position: absolute;
    left: 30%;
    bottom: 20px;
    margin: auto;
    display: block;

    z-index: 100;
}

.button_size {
   min-height: 50px;
 }

.favorite_img{
    max-height: 15px;
}